<html>
    <head>
        <title>MUNDIAL</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='prueba.css')}}">
    </head>
    <body>
    <div class="primer-div">
        <p id="primer-parrafo">BIENENIDOS A LOS RESULTADOS DEL MUNDIAL</p>
        <div class="opciones">
            <a class="" href="/resultados.html">Resultados del dia</a>
            <button>Partidos Pendiente</button>
            <button>resultado semalanles</button>
            <button>proximos partidos</button>    
        </div>
    </div>
    </body>
</html>